[Desktop Entry]
Version=1.0
Type=Application
Name=NesnetVPN
Comment=
Exec=openvpn /etc/openvpn/sslvpn-bora.pocan@nesnet.com-client-config.ovpn
Icon=/home/mrrobot/Pictures/nesnet-icon.png
Path=
Terminal=false
StartupNotify=false
