[Desktop Entry]
Version=1.0
Type=Application
Name=Mr.Manager
Comment=Task Manager for Mr.RobotOS
Exec=mrmanager
Icon=utilities-system-monitor
Path=
Terminal=false
StartupNotify=false
